API_TOKEN=bottoken
PG_URI=postgresql+asyncpg://login:password@host:port/db
ADMIN_USERNAME=link
ADMINS_IDS=id,id,id
BOT_USERNAME=telefix_proxy_bot
SOFT_WIN_LINK=link
SOFT_LINUX_LINK=link
SOFT_MAC_LINK=link
VIRUS_TOTAL_LINK=link